{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/recommended",
    "eslint:recommended",
    "prettier",
    "eslint-config-airbnb-base"
  ],
  "rules": {
    "no-empty": "error",
    "no-alert": "warn",
    "no-console": "warn",
    "no-eval": "error",
    "no-debugger": "warn",
    "semi": ["error", "always"],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"],
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": ["const", "let", "var"],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      }
    ],
    "import/no-unresolved": ["error", { "ignore": ["^@/"] }],
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.worker.js"],
      "globals": {
        "importScripts": true
      }
    }
  ],
  "plugins": ["prettier", "import"],
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
