{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/recommended", "eslint:recommended", "prettier"],
  "rules": {
    "max-len": ["error", { "code": 80 }],
    "no-empty": "error",
    "no-alert": "warn",
    "no-console": "warn",
    "no-eval": "error",
    "no-debugger": "warn",
    "semi": ["error", "always"],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"],
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.worker.js"],
      "globals": {
        "importScripts": true
      }
    }
  ],
  "plugins": ["prettier", "import"],
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
